.ideas__carousel-card_title {
    position: absolute;
    z-index: 4;
    left: 6%;
    top: 20%;
    font-family: Georgia, serif;
    width: 30%;
    font-size: 35px;
    letter-spacing: 1.5px;
    word-spacing: 1.6px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}


@media screen and (min-width:1024px) and (max-width:1280px) {
    .ideas__carousel-card_title {
        font-size: 25px;

    }

}

@media screen and (min-width:750px) and (max-width:1024px) {

    .ideas__carousel-card_title {
        font-size: 25px;
    }

}



@media screen and (min-width:480px) and (max-width:750px) {

    .ideas__carousel-card_title {
        font-size: 18px;
    }

}

@media screen and (min-width:270px) and (max-width:480px) {

    .ideas__carousel-card_title {
        font-size: 12px;
    }

}