.home__carousel_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 45%;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #7F7F7F;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

@media screen and (min-width:750px) and (max-width:1024px) {

  .home__carousel_text {
    width: 40%;
    margin: 0%;
  }

}



@media screen and (min-width: 480px) and (max-width:750px) {

  .home__carousel_text {
    font-size: 10px;
    letter-spacing: 0px;
    word-spacing: 0.2px;
    font-weight: 100px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    width: 40%;
    margin: 0%;
    width: 40%;
    margin: 0%;
  }

}

@media screen and (min-width: 270px) and (max-width:480px) {

  .home__carousel_text {
    font-size: 7px;
    letter-spacing: 0px;
    word-spacing: 0.2px;
    font-weight: 100px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-weight: 50;
    height: 88%;
    width: 45%;
    margin: 0%;
    margin: 0;
    word-wrap: break-word;
  }

}