@import url(./__container/drawing__container.css);

.controls-container{
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 350px;
   
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 90%;
    padding: 15px;
    border-radius: 20px;
  }
  
  .canvas-container {
    margin-top: 150px;
    width: 80%;
  }


  .erase-button{
    display: flex;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url(/src/images/propfile/drawing/eraser.png);
    margin: 10px;
  }

  .erase-button.active {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.4);
    margin: 10px;

  }

  .brush-button{
    display: flex;
    width: 30px;
    height: 30px;
    background-size: cover;
    overflow: visible;
    margin: 10px;
  }
  
  .brush-button.active {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.4);
    margin: 10px;
  }

  .brush-size-container {
    display: flex;
    align-items: center;
    width: 250px;
    
  }
  
  .brush-size-slider {
    margin: 10px;
    flex: 1;
    margin: 0 10px;
    
  }
  
  .brush-color{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
  }
  

  .color-picker {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
#color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

#color::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid #000000;
}
#color::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #000000;
}


.instruction-text{
  text-align: center;
}



.animated-button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  stroke: gray;
}

.animated-button .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  opacity: 1; 
  stroke: gray;
  stroke-width: 2;
  fill: none;
  transition: opacity 0.6s, stroke 0.6s;
}

.animated-button.checked .checkmark,
.animated-button.completed .checkmark {
  animation: drawCheck 0.6s ease-out;
}

.animated-button.completed .checkmark {
  stroke: rgb(27, 163, 0);
}


@keyframes drawCheck {
  0% {
    stroke-dasharray: 22;
    stroke-dashoffset: 22;
  }
  100% {
    stroke-dasharray: 22;
    stroke-dashoffset: 0;
  }
}
@media screen and (min-width:750px) and (max-width:1024px) {
 
  

  .controls-container{
    width: 90%;
    font-size: 8px;
    top: 325px;
    
    
  }
 
  .canvas-container {
    
    margin-top: 20px;
    width: 100%;
    max-height: 800px;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

 }


@media screen and (min-width: 480px) and (max-width:750px) {
 
  .controls-container{
    
    width: 100%;
    max-width: 600px;
    font-size: 10px;

  }
  .controls-container{
    width: 90%;
    font-size: 8px;
    top: 300px;
    height: 60px;
    position: static;
    
  }
 
  .canvas-container {
    margin-top: 20px;
    width: 100%;
    max-height: 800px;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

 .erase-button,
 .erase-button.active,
 .brush-button,
 .brush-button.active,
 .brush-color, 
 .animated-button{
  width: 30px;
  height: 30px;
 }

 .brush-size-container {
  width: 90px;
  margin: 0;
 }

 .brush-size-slider {
  width: 100%;
  margin: 0;
 }

 }









 @media screen and (min-width: 270px) and (max-width:480px) {
  
  .controls-container{
    width: 90%;
    font-size: 8px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    position: static;
  }
 
  .canvas-container {
    margin-top: 20px;
    width: 100%;
    max-height: 800px;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  .erase-button{
     grid-area: 1 / 1 / 2 / 2; 
     width: 30px;
  height: 30px;
  }
  .erase-button.active{
     grid-area: 1 / 1 / 2 / 2;
     width: 30px;
  height: 30px;
  }

  .brush-button  {
    grid-area: 1 / 2 / 2 / 3;
    width: 30px;
  height: 30px;
  }

  .brush-button.active{
    grid-area: 1 / 2 / 2 / 3;
    width: 30px;
  height: 30px;
  }

  .brush-color{
    grid-area: 1 / 3 / 2 / 4;
    width: 30px;
  height: 30px;
  }

  .brush-size-container{
    grid-area: 2 / 1 / 3 / 3;
    width: 100%;
  }

  .canvas__save-button{
    grid-area: 2 / 3 / 3 / 4;
    width: 30px;
    height: 30px;
  }

  .brush-size-slider {
    width: 100%;
    margin: 0;
   }

}





  