.calendar__text {
    font-family: Georgia, serif;
    text-align: center;
    letter-spacing: 0.6px;
    word-spacing: -0.4px;
    color: #969696;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}