@import url(./life-calendar/life-calendar.css);
@import url(./__block/profile__block.css);
@import url(./__button/profile__button.css);
@import url(./__info/profile__info.css);
@import url(./__photo/profile__photo.css);
@import url(./drawing/drawing.css);
@import url(./item/item.css);
@import url(./modal-card/modal-card.css);
@import url(./modal-overlay/modal-overlay.css);






  .profile-container {
    grid-area: 2 / 1 / 3 / 2; 
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;  
    width: 1000px;
    position: sticky;
    top: 0;
   
  }
  
  .profile {
    display: flex; 
    flex-direction: row;
    max-width: 700px;
    height: 200px;
    justify-content: space-between;
    align-items: center;    
    box-shadow: 0px 0px 53px -4px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    opacity: 1;
    transition: opacity 0.2s ease-in;
    overflow: hidden;
    }
   
   .profile.loading  {
    /* Appear items when loading is active */
    opacity: 0;
  }

  

  

@media screen and (min-width:1024px) and (max-width:1280px) {

  .profile{
    width: 90%;
    height: 200px;
    justify-content: center;
    align-items: center;
    
  }

 
  
  .profile__photo_container {
    width: 30%; 
 
  }
  
  .profile-ideas__container{
    width: 85vw;
  } 
   
   
 }


@media screen and (min-width:750px) and (max-width:1024px) {
 
  .profile{
    width: 95vw;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  
  .profile__photo_container {
    width: 30%; 
 
  }
  
  
  
  .profile-ideas__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
  }


  


 }


@media screen and (min-width: 480px) and (max-width:750px) {

  .profile{
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  
  .profile__photo_container {
    width: 30%; 
 
  }
 
  .profile-ideas__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
  }


 
 
  .controls-container__buttons{
    width: 100%;
  }



 }









 @media screen and (min-width: 270px) and (max-width:480px) {
  
.profile{
  display: flex;
  width: 95vw;
  height: 150px;
  border-radius: 15px;
}


.profile__photo_container {
  width: 40%; 

}

  .profile-ideas__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
  }

  
 

}




