.idea-article__paragraph {
  width: 70%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.694);
}

@media screen and (min-width: 480px) and (max-width:1024px) {
  .idea-article__paragraph {
    font-size: 18px;
    width: 90%;
  }
}

@media screen and (min-width: 270px) and (max-width:480px) {
  .idea-article__paragraph {
    font-size: 12px;
    width: 90%;
  }

}