.article__paragraph_text {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: 0.4px;
    word-spacing: 0px;
    color: #6b6b6b;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}