.upper-header__button_language_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 150px;
  max-height: 30px;
  border-radius: 40px;
  border: 0.5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  color: black;
  text-decoration: none;
  padding: 5px;
  background-color: rgb(219, 219, 219);
  text-transform: none;
  font-size: 20px;
}

.upper-header__button_language_menu_visible {
  margin-top: 20px;
  position: absolute;
  top: 0;
  list-style-type: none;
  text-transform: none;
  font-size: 20px;
}